* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #888;
  background-image: url("images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 65%;
}

a {
  text-decoration: none;
}

/* .container {
  background-color: #888;
  background-image: url("images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 65%;
  width: 780px;
  max-width: 100%;
  margin: auto;
} */

.content {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  width: 680px;
  margin: 20px 0;
  /* background-color: #FFF214; */
}

.logo img {
  width: 275px;
}

.social i{
  color: #000;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.card-link {
  background-color: #195229;
  width: 680px;
  height: 65px;
  min-width: 300px;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  padding: 0 8px 0 25px;
  margin-bottom: 5px;
  transition: .3s ease-in;
}

.card-link:hover {
  background-color: #195229be;
  
}

.text, .contact {
  color: #fff;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact span {
  color: #EDE940;
  /* FFF214 */
}

.fa-whatsapp {
  font-size: 3rem;
}

footer {
  display: flex;
  justify-content: end;
  width: 680px;
}

footer p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}