@charset "UTF-8";

@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: 'Proxima Nova Alt', sans-serif;
}

body::after {
  content: "";
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 65%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.section-header {
  display: flex;
  justify-content: flex-end;
  width: 680px;
  margin-top: 20px;
}

.logo img {
  width: 300px;
}

.card-link {
  background-color: #195229;
  width: 680px;
  height: 65px;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0 8px 0 25px;
  margin-bottom: 5px;
  transition: .3s ease-in;
}

.card-link:hover {
  background-color: #195229f2;
  transform: scale(1.05);
}

.text, .contact {
  color: #fff;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact span {
  color: #EDE940;
  font-family: 'Proxima Nova Alt';
  font-weight: 600;
}

.fa-whatsapp {
  font-size: 3rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 680px;
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social i {
  color: #000;
  font-size: 2.5rem;
}

.social i:hover {
  color: #195229;
}

.social strong {
  color: #195229;
  text-transform: uppercase;
}

.social strong:hover {
  color: #000;
}

.bg-yellow {
  background-color: #FFF214;
  width: 550px;
  z-index: -1;
  right: 620px;
}

.head {
  height: 80px;
  position: absolute;
  top: 240px;
}

.mid {
  height: 290px;
  position: absolute;
  top: 350px;
}

.foot {
  height: 150px;
  position: absolute;
  top: 670px;
}

@media screen and (max-width: 1440px) {
  body::after {
    height: 900px;
  }

  .bg-yellow {
    right: 380px;
  }
}

@media screen and (max-width: 1360px) {
  .bg-yellow {
    right: 340px;
  }
}

@media screen and (max-width: 1280px) {
  .bg-yellow {
    right: 300px;
  }
}

@media screen and (max-width: 1152px) {
  .bg-yellow {
    right: 236px;
  }
}

@media screen and (max-width: 1024px) {
  body::after {
    background-position: 100% 5%;
  }

  .bg-yellow {
    right: 172px;
  }
}

@media screen and (max-width: 800px) {
  .bg-yellow {
    right: 60px;
  }
}

@media screen and (max-width: 768px) {
  .bg-yellow {
    right: 44px;
  }
}

@media screen and (max-width: 425px) {
  .section-header,
  .card-link,
  footer {
    width: 395px;
  }

  body::after {
    background-position: top;
  }
  
  .logo img {
    width: 245px;
  }

  .card-link {
    font-size: 1.2rem;
    padding: 0 8px 0 20px;
  }

  .bg-yellow {
    width: 300px;
    right: 15px;
  }

  .head {
    top: 205px;
  }
  
  .mid {
    top: 315px;
  }
  
  .foot {
    top: 635px;
  }
}

@media screen and (max-width: 395px) {
  .section-header,
  .card-link,
  footer {
    width: 370px;
  }

  .logo img {
    width: 255px;
  }

  .card-link {
    font-size: 1.125rem;
    padding: 0 5px 0 15px;
  }  
  
  .social {
    font-size: .9rem;
  }

  .bg-yellow {
    width: 280px;
    right: 13px;
  }

  .head {
    top: 210px;
  }
  
  .mid {
    top: 320px;
  }
  
  .foot {
    top: 640px;
  }
}

@media screen and (max-width: 375px) {
  .section-header,
  .card-link,
  footer {
    width: 355px;
  }
  
  .card-link {
    font-size: 1.1rem;
    padding: 0 5px 0 15px;
  }  

  .bg-yellow {
    width: 270px;
    right: 10px;
  }
}

@media screen and (max-width: 320px) {
  .section-header,
  .card-link,
  footer {
    width: 290px;
  }

  .logo img {
    width: 200px;
  }
  
  .card-link {
    font-size: .875rem;
    padding: 0 5px;
  }

  .fa-whatsapp {
    font-size: 2.2rem;
  }

  .social {
    font-size: .775rem;
  }

  .bg-yellow {
    width: 220px;
    right: 15px;
  }

  .head {
    top: 180px;
  }
  
  .mid {
    top: 288px;
  }
  
  .foot {
    top: 608px;
  }
}